
<div class="comicmain">
  <h1>Fable</h1>
  <a href="/readcomic" type="button" class="btn btn-info">Read Comic</a>
{{#each filenames}}
  <img src='images/{{this}}' alt="Smiley face" height="400" width="400">
{{/each}}
  <a href="/editcomic" type="button" class="btn btn-info">Edit Comic</a>
</div>
<div>
    <form method="post" enctype="multipart/form-data" action="/fileupload">
      <p>
        <input type="text" name="title" placeholder="title"/>
      </p>
      <p>
        <input type="file" name="upl"/>
      </p>
      <p>
        <input type="submit"/>
      </p>
    </form>



</div>
