<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="../stylesheets/style.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<div class="comment">
  <br>
  <br>

  <h1 class="text-center">{{comic.comic.comicName}}'s Comments Page</h1>
  <form class="form-horizontal" name="comment" method="post" action="/comment" >
      <input type="hidden" name="comicName" value="{{comic.comic.comicName}}">
      <textarea type="text" name="comment"class="form-control" placeholder="Write something about {{comic.comic.comicName}}..." rows="3" cols="30" ></textarea>
      <br>
      <center>
      <button type="submit" class="btn btn-primary" style="display: inline-block;">Post It!</button>
    </center>
  </form>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Home</a>

          <a class="navbar-brand" href="/profile">{{user.local.username}}</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href='/search'>Search</a></li>
            <li><a href="/profile">Profile</a></li>
            {{#if user.local.contributor}}
            <li><a href="/myworks">My Works</a></li>
            {{/if}}
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <br>
    {{#each comment}}
    <div id="{{this.comment.post}}1">
    <div id="container" style="white-space:nowrap">
      <br>
      <img src="{{comment.picture}}" style="width:90;height:90px";"display:inline";"white-space:nowrap">
      <a href="/profile/{{this.comment.commentor}}" class="links"> <font size= "5">{{this.comment.commentor}}</font> </a>
       <font size= "5"> {{this.comment.post}} </font>
     </div> 
      
     <br>
     {{this.comment.date}}
     {{#compare ../user.local.username this.comment.commentor operator="=="}}
     <input type="hidden" id="post{{@index}}" value="{{this.comment.post}}">
     <input type="hidden" id="date{{@index}}" value="{{this.comment.date}}">
     <button type="button" class="btn btn-primary deleteComment" name ="{{@index}}">X</button>
     {{/compare}}
   </div>
    {{/each}} 
</div>


<script>
  $(".deleteComment").on('click',function() {
    var index = $(this).attr("name");
    $.ajax({
    type: 'DELETE',  
    url: '/deleteComment',
    data:{post:$('#post'+index).val(),date:$('#date'+index).val(),index:index},
    }).done(function(data){
    document.getElementById(data).remove();
    });
});
</script>  
