<div class="comment">
  <br>
  <br>
  <h1>{{comic.comic.comicName}}'s Comments!</h1>
  <form class="form-horizontal" name="comment" method="post" action="/comment" >
      <input type="hidden" name="comicName" value="{{comic.comic.comicName}}">
      <textarea type="text" name="comment"class="form-control" placeholder="Write something..." rows="3" cols="30" ></textarea>
      <button type="submit" class="btn btn-primary" style="display: inline-block;">Comment</button>
  </form>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <br>
    {{#each comment}}
    
    <div id="container" style="white-space:nowrap">
      <br>
      <img src={{this.comment.picture}} style="width:160;height:160px";"display:inline";"white-space:nowrap">
       <font size= "5"> {{this.comment.post}} </font>
     </div> 
      <font size= "5">{{this.comment.commentor}}</font>
     <br>
     {{this.comment.date}}
    {{/each}}
</div>
