
<!DOCTYPE html>

<html>
<head>
<title></title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="imagetoolbar" content="false">
<meta http-equiv="imagetoolbar" content="no">
<link rel="stylesheet" type="text/css" href="css/default.css">
<script type="text/javascript" src="uploader.js"></script>


</head>
<body>
<div class="cooperative">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Home</a>
          <a class="navbar-brand">{{user.local.username}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/myworks">My Works</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

<script type="text/javascript">
    $(document).ready(function() {
            document.onkeydown = function() 
                {
                    var j = event.keyIdentifier
                    if (j == "Right")
                        window.location = nextUrl
                        }
                   });

      $(document).ready(function() {
                    var nextPage = $("#next_page_link")
                    nextUrl = nextPage.attr("href")
                });
</script>

<br>
<br>
<br>
  <h2 id="cooperativeTitle">Cooperative Comic</h2>
  {{#each comic}}
  {{this.comic.comicName}}

  {{this.comic.description}}

  
  <form method="post"  enctype="multipart/form-data"  action="/fileupload2">
  <input type="file" name="filename" style="display: inline-block;">
  <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
  
  {{/each}}
  {{#each file}}
  <img id="picture" src='images/{{this.filename}}' height="400" width="400">
  {{/each}}


  <center>
  <a id="next_page_link" href="/cooperativecomic" type="button" class="btn btn-info">Read Comic</a>
  <a href="/home" type="button" class="btn btn-info">Home Page</a>
  
  {{#if user.local.contributor}}
  <br>
  <br>
  <form id="textTitleBox" class="form-horizontal" name="description" method="post" action="/cooperative" >
      <input id="titleBox" type="text" name="comicName" placeholder="title">

      <textarea id="textbox" type="text" name="description" class="form-control" placeholder="description" rows="3" cols="10" ></textarea>
  <br>
  
  
  <button type="submit" class="btn btn-primary" style="display: inline-block;">Submit</button>
  </form>


  </center>
</body>


</html>
{{/if}}
</div>
</div>