<html>
<head>

<script type="text/javascript">
    $(document).ready(function() {
            document.onkeydown = function() 
                {
                    var j = event.keyIdentifier
                    if (j == "Right")
                        window.location = nextUrl
                    else if (j == "Left")
                        window.location = prevUrl            
                        }
                   });

      $(document).ready(function() {
                    var nextPage = $("#next_page_link")
                    var prevPage = $("#previous_page_link")
                    nextUrl = nextPage.attr("href")
                    prevUrl = prevPage.attr("href")
                });

</script>
</head>
<body>


{{#each file}}
  <div>
  <img id="picture" src='images/{{this.filename}}' height="400" width="400">
  </div>
  {{/each}}

<p>
	<h1>Fable</h1>
    <a id="previous_page_link" href="/comicmainpage" type="button" class="btn btn-info" >Previous Page</a> 
    <a id="next_page_link" href="/cooperativecomic2" type="button" class="btn btn-info" >Next Page</a>
</p>
</body>
</html>