<div class="home">
  <h1>
    {{#if user.local.contributor}}
      <div class="alert alert-danger">You are a contributor</div>
    {{else}}
      <div class="alert alert-danger">You are a viewer</div>
    {{/if}}
  </h1>
    <img src={{user.local.picture}} style="width:304px;height:228px;">
  <h1>Home</h1>
  <a href="/profile" type="button" class="btn btn-info">My Profile</a>
  <a href="/search" type="button" class="btn btn-info">Search</a>
  {{#if user.local.contributor}}
    <a href="/myworks" type="button" class="btn btn-info">My Works</a>
    <a href="/solo" type="button" class="btn btn-info">Solo</a>
      <div class="form-group">
      <label for="inputComicTitles3" class="col-sm-2 control-label">comictitles:</label>
      <br>
      <br>
      <div class="col-sm-10">
        <input type="comictitles" name="comictitles" class="form-control" id="inputComicTitles3" placeholder="Comic Title">
      </div>
    </div>

    <a href="/cooperative" type="button" class="btn btn-info">Cooperative</a>
  {{/if}}
  <a href="/logout" type="button" class="btn btn-info">Logout</a>
</div>
