<head>
  <style>
  body{

  }
  .center{
    text-align:center;
  }
  .container{
    float: left;
    width: 600px;
    margin:5px
  }
  .pp{
    font-size: 150%
  }

  </style>
</head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="../stylesheets/style.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 

<div class="profile">

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Home</a>
          <a class="navbar-brand">{{user.local.username}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href='/search'>Search</a></li>
            <li><a href="/myworks">My Works</a></li>
            
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

  <h1 class = "center">{{otheruser.local.username}}'s Profile Page</h1>
  <div class="row">
  <div class="container col-md-6" id="left">
    <center>
  <img src="{{otheruser.local.picture}}" border="0" width="360" height="360" class="img-thumbnail">
  {{#compare user.local.username otheruser.local.username operator="=="}}
      <form method="post"  enctype="multipart/form-data"  class="form-horizontal" id="uploadpic" style="display: none;" action="/updatePicture">
        <input type="file" name="filename" style="display: inline-block;">
        <button type="submit" class="btn btn-primary" >Change Picture</button>
      </form>
  {{/compare}}
  <br>
  <p class="pp">General information</p>

  <form id="updateProfile" class="form-horizontal" name="profile" action="/profile" method="get">
  <div id="reload">
  <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Birthdate:</label>
      <div class="col-sm-10">
        <input type="text" name="birthdate" class="form-control" id="birthdate" readonly="readonly" placeholder={{user.local.birthdate}}>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Hobbies:</label>
      <div class="col-sm-10">
        <input type="text" name="hobbies" class="form-control" id="hobbies" readonly="readonly" placeholder={{user.local.hobbies}}>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Location:</label>
      <div class="col-sm-10">
        <input type="text" name="location" class="form-control" id="location" readonly="readonly" placeholder={{user.local.location}}>
      </div>
    </div>
  </div>

    <p class="pp">
      {{#if user.local.contributor}}
      <div class="pp">You are a contributor</div>
      {{else}}
      <div class="pp">You are a viewer</div>
    {{/if}}</p>
    {{#compare user.local.username otheruser.local.username operator="=="}}
  <button id="updateProfileb" type="submit" class="btn btn-primary" style="display:none;">Save</button>
  <button id="editProfile" type="button" class="btn btn-primary" style="display:inline-block;">Edit Profile</button>
  {{/compare}}
</form>
</div>
<div class="container col-md-6">
  <center>
  <div>
    <h2>Favourite Comic <span class="glyphicon glyphicon-heart-empty"></span></h2>
    <table class="table"> 
    </table>
  </div>
{{#compare user.local.username otheruser.local.username operator="=="}}
  <div>
    <h2>Bookmarks <span class="glyphicon glyphicon-book"></span></h2>
    {{#each bookmark}}
    <a href="/cooperative/{{this.bookmark.comicName}}/{{this.bookmark.page}}" class="links"></a>
    {{/each}} 
  </div>
  <div>
    <h2>Inbox <span class="glyphicon glyphicon-modal-window"></span></h2>
    {{#each invite}}
    <div id="{{this}}1">
      <a href="/comic/{{this}}" class="links">{{this}}</a><br>
      <input type="hidden" id="comic{{@index}}" value="{{this}}">
      <button type="submit" class="btn btn-primary acceptInvite" name="{{@index}}">✓</button>  
      <button type="submit" class="btn btn-primary refuseInvite" name="{{@index}}">X</button>
    </div>
    {{/each}}           
  </div>
{{/compare}}
</div>
</div>
</div>

<script>
$(document).ready(function() {
  $("#updateProfile").submit(function(){
    $.ajax({
      type: "PUT",
      contentType: "application/json",
      url: "/updateProfile",
      data:JSON.stringify({birthdate:$('#birthdate').val(),hobbies:$('#hobbies').val(),location:$('#location').val()}),
      complete: function() {
        alert("profile updated");
        }
    })
  });
});
$("#reload").load("/profile" + " #reload");
</script>

<script>
  $(".refuseInvite , .acceptInvite").on('click',function(){
  var index = $(this).attr("name");
    $.ajax({
    type: "DELETE",
    url: '/deleteInvite',
    data:{comicName:$('#comic'+index).val()},})
    .done(function(data){
    document.getElementById(data).remove();
  });
});
</script>  

<script>
  $(".acceptInvite").on('click',function(){
  var index = $(this).attr("name");
    $.ajax({
    type: "POST",
    url: '/acceptInvite',
    data:{comicName:$('#comic'+index).val()},})
    .done(function(data){
  });
});
</script>
<script>
$('#editProfile').on('click',function(){
  $('#birthdate').prop('readonly',false);
  $('#location').prop('readonly',false);
  $('#hobbies').prop('readonly',false);
  $('#uploadpic').show();
  $('#updateProfileb').show();
});
</script>