<head>
  <style>
  body{

  }
  .center{
    text-align:center;
  }
  .container{
    float: left;
    width: 600px;
    margin:5px
  }
  .pp{
    font-size: 150%
  }
  </style>
</head>


<div class="profile">

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Home</a>
          <a class="navbar-brand">{{user.local.username}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

  <h1 class = "center">Profile Page</h1>
  <div class="container" id="left" >
  <a href="#" target=><img src={{user.local.picture}} border="0" width="144" height="144" class="img-thumbnail"></a>
  <br>
  <p class="pp">General information</p>
  <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Birthdate:</label>
      <div class="col-sm-10">
        <input type="text" name="birth" class="form-control" id="inputbirth3" placeholder={{user.local.birthdate}}>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Gender :</label>
      <div class="col-sm-10">
        <input type="text" name="birth" class="form-control" id="inputbirth3" placeholder={{user.local.gender}}>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Locaion:</label>
      <div class="col-sm-10">
        <input type="text" name="birth" class="form-control" id="inputbirth3" placeholder={{user.local.location}}>
      </div>
    </div>
    
    <p class="pp">
      {{#if user.local.contributor}}
      <div class="pp">You are a contributor</div>
      {{else}}
      <div class="pp">You are a viewer</div>
    {{/if}}</p>
  <button type="submit" class="btn btn-default" style="display: inline-block;">Save</button>
</div>


<div class="container" id="right">
<h2>Favourite Comic <span class="glyphicon glyphicon-heart-empty"></span></h2>

  <table class="table">
  	


  </table>
</div>
</div>