<div class="solocomic">
  <h1>file.local.filename</h1>

  <!DOCTYPE html>
	<html>
	<head>
	<title></title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="imagetoolbar" content="false">
	<meta http-equiv="imagetoolbar" content="no">
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<script type="text/javascript" src="uploader.js"></script>
	</head>
	<body>
	    <form method="post" enctype="multipart/form-data" action="/fileupload">
	      <p>
	        <input type="text" name="title" placeholder="title"/>
	      </p>
	      <p>
	        <input type="file" name="upl"/>
	      </p>
	      <p>
	        <input type="submit"/>
	      </p>
	    </form>
	    
</body>


</html>
  <a href="/solo" type="button" class="btn btn-info">Previous Page</a>
  <a href="/solocomic2" type="button" class="btn btn-info">Next Page</a>
</div>
