<div class="solocomicmain">
  <h1>Faable</h1>
  <a href="/solocomic" type="button" class="btn btn-info">Read Comic</a>
  {{#if user.local.contributor}}
    <a href="/editcomic" type="button" class="btn btn-info">Edit Comic</a>
    <a href="/home" type="button" class="btn btn-info">Home Page</a>
    
<!DOCTYPE html>

<html>
<head>
<title></title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="imagetoolbar" content="false">
<meta http-equiv="imagetoolbar" content="no">
<link rel="stylesheet" type="text/css" href="css/default.css">
<script type="text/javascript" src="uploader.js"></script>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/fileupload">
      <p>
        <input type="text" name="title" placeholder="title"/>
      </p>
      <p>
        <input type="file" name="upl"/>
      </p>
      <p>
        <input type="submit"/>
      </p>
    </form>
    
</body>


</html>
{{/if}}
</div>
