
<!DOCTYPE html>

<html>
<head>
<title></title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="imagetoolbar" content="false">
<meta http-equiv="imagetoolbar" content="no">
<link rel="stylesheet" type="text/css" href="css/default.css">
<script type="text/javascript" src="uploader.js"></script>


</head>
<body>
<div class="cooperative">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Home</a>
          <a class="navbar-brand">{{user.local.username}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/myworks">My Works</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

<script type="text/javascript">
    $(document).ready(function() {
            document.onkeydown = function() 
                {
                    var j = event.keyIdentifier
                    if (j == "Right")
                        window.location = nextUrl
                        }
                   });

      $(document).ready(function() {
                    var nextPage = $("#next_page_link")
                    nextUrl = nextPage.attr("href")
                });
</script>

 <!-- 
<script>
    Handlebars.registerHelper('compare', function(lvalue, rvalue, options) {

    if (arguments.length < 3)
        throw new Error("Handlerbars Helper 'compare' needs 2 parameters");

    var operator = options.hash.operator || "==";

    var operators = {
        '==':       function(l,r) { return l == r; },
        '===':      function(l,r) { return l === r; },
        '!=':       function(l,r) { return l != r; },
        '<':        function(l,r) { return l < r; },
        '>':        function(l,r) { return l > r; },
        '<=':       function(l,r) { return l <= r; },
        '>=':       function(l,r) { return l >= r; },
        'typeof':   function(l,r) { return typeof l == r; }
    }

    if (!operators[operator])
        throw new Error("Handlerbars Helper 'compare' doesn't know the operator "+operator);

    var result = operators[operator](lvalue,rvalue);

    if( result ) {
        return options.fn(this);
    } else {
        return options.inverse(this);
    }

});
</script> -->

<br>
<br>
<br>



  <h2 id="cooperativeTitle">Solo Comic</h2>

<br>
<br>
 <form method="post"  enctype="multipart/form-data"  action="/fileupload">
 
  <input type="file" name="filename" style="display: inline-block;">
  <button type="submit" class="btn btn-primary" >Submit</button>
  </form>

  <center>
  
  
  <br>
  <br>
   
  

  
  <form id="textTitleBox" class="form-horizontal" name="description" method="post" action="/solo" >
      <input id="titleBox" type="text" name="comicName" placeholder="input title here">
      
      <input id="titleBox" type="text" name="genre" placeholder="input genre here">

      <textarea id="textbox" type="text" name="description" class="form-control" placeholder="input description here" rows="3" cols="10" ></textarea>
      
  <br>
  
  
  <button type="submit" class="btn btn-primary" style="display: inline-block;">Submit</button>
  </form>


  
  </center>

</body>


</html>
</div>