<!DOCTYPE html>

<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="imagetoolbar" content="false">
<meta http-equiv="imagetoolbar" content="no">
<title>{{comic.comic.comicName}}'s Main Page</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="stylesheets/style.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<style>
</style>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Home</a>
          <a class="navbar-brand">{{user.local.username}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/myworks">My Works</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
</nav>
<br>
<br>
<center>
<h1>Comic Name: {{comic.comic.comicName}}</h1>
<p1>Author: {{comic.comic.author}}</p1>

<h2>
  Overall Rating: {{comic.comic.rating}} 
  <span id="overall" class="glyphicon glyphicon-star" style="color:yellow"></span>! <br>
  Your Rating: 
  <span id="1" class="glyphicon glyphicon-star-empty"></span>
  <span id="2" class="glyphicon glyphicon-star-empty"></span>
  <span id="3" class="glyphicon glyphicon-star-empty"></span>
  <span id="4" class="glyphicon glyphicon-star-empty"></span>
  <span id="5" class="glyphicon glyphicon-star-empty"></span>
  <input type="hidden" name="comicName" value="{{comic.comic.comicName}}">
</h2>

<center>
<div>
	<img id="picture" src="/images/{{comic.comic.coverpage}}">
</div>
<center>
<button type="button" class="btn btn-primary" onclick="lastpage1()">LastPage</button>
<button type="button" class="btn btn-primary" onclick="nextpage()">NextPage</button>
</div>
<br>
<br>
<center>

<div>
<a button class="btn btn-primary" href="/comic/{{comic.comic.comicName}}/upload">Upload Comicstrip</a>
<a button class="btn btn-primary" href="/comic/{{comic.comic.comicName}}/uploadcover">Upload Coverpage</a>
</div>
<br>
<div>
<a button class="btn btn-primary" href="/comment/{{comic.comic.comicName}}">Comments</a>
<button type="button" id="addf" class="btn btn-primary">Add to Favourite</button>
<button type="button" id="delf" class="btn btn-primary">Remove from Favourite</button>
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=952898294826486";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script>
$(document).ready(function(){
  $.ajax({
    method: "POST",
    url: "/checkuser",
    data:{data:"{{user.local.username}}",type:"favourite", comic:"{{comic.comic.comicName}}"}
  }).done(function(data){
    if(data =="notfavourited"){
      $('#addf').show();
      $('#delf').hide();
    } else {
      $('#delf').show();
      $('#addf').hide();
    }
  });
});
</script>

<script>
$(document).ready(function(){
  $('#addf').on('click',function(){
    $('#addf').hide();
    $('#delf').show();
    $.ajax({
      method: "POST",
      url: "/addfavourite",
      data:{data:"{{user.local.username}}",comic:"{{comic.comic.comicName}}"}
    }).done(function(data){
      alert(data);
    });
  });
});
</script>
<script>
$(document).ready(function(){
  $('#delf').on('click',function(){
    $('#delf').hide();
    $('#addf').show();
    $.ajax({
      method: "POST",
      url: "/delfavourite",
      data:{data:"{{user.local.username}}",comic:"{{comic.comic.comicName}}"}
    }).done(function(data){
      alert(data);
    });
  });
});
</script>  

<script>
$(document).ready(function() {
   $(".glyphicon-star-empty").click(function() {
      for(i = 1; i < 6; i++ ){
       $("#"+i.toString()).css("color","black");
     }
    id = parseInt($(this).attr('id'));
      for(i = 1; i < id+1; i++ ){
       $("#"+i.toString()).css("color","yellow");
     }
   
   }); 
});
</script>
<script>
   $(".glyphicon-star-empty").click(function() {
   $.ajax({
      method: "PUT",
      contentType: "application/json",
      url: "/updateRating",
      data:JSON.stringify({rating:$(this).attr("id"),comicName:"{{comic.comic.comicName}}"}),
      complete: function() {
        }
      });
});
</script>
</html>
