body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mainpage {
	text-align: center;
}

.signup {
	margin-right: auto;
}

.home{
	text-align: center;
}

button
{
-webkit-appearance: none;
outline: none;
border: 0;
background: transparent;
}